* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.contain{
    background-image: url("./world.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.cards {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    justify-content: center;
}
.container{
    margin: 5px;
}
.card{
    height: 120px;
    width: 120px;
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d;
}

.front,
.back{
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-family: 'Lobster', cursive;
    border-radius: 10px;
    position: absolute;
}

.front{
    background-color: antiquewhite;
    color: coral;
    z-index: 2;
    backface-visibility: hidden;
}

.back{
    background-color: coral;
    color: antiquewhite;
    z-index: 1;
    transform: rotateY(180deg);
}

.container:hover .card{
    transform: rotateY(180deg);
}
h1 {
    text-align: center;
    font-family: "Roboto Thin", sans-serif;
    color: chocolate;
    margin: 20px;
}